@font-face{
  src: local('OpenSans'),
  url(OpenSans/OpenSans.ttf);
}
*{
  margin: 0;
  padding: 0;

  font-family: "OpenSans", sans-serif;
}
div{
  display: block;
}
a{
  color: #fff; 
  font-size: 16px;
  text-decoration: none;
}
h1{
  color: #999;
  text-align: center;
  line-height: 50px;
  font-size:30px;
  font-weight: 300;
}
h2{
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}
h3{
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 22px;
}
p{
  color: #999;
  text-align: center;
  font-size: 14px;
}
.container{
  width: 100%; 
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 1px;

}
.header__container{
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 270px minmax(300px, 900px);

}
.header__hidden-menu-icon{
  display: none;
}
.logos__container{
  display: flex;
  align-items: center;
  height: 100%;
}
.textBlock__container{
  max-width: 90%;
}
.updates__container{
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 300px
}
header{
  width: 100%;
  min-height: 454px;

  background: #33a38a;
}
.header__menu-block{
  display: block;
  width: 230px;
  margin: 0 20px;
  transition: .5s;
  z-index: 10;
}

.header__menuUp{
  height: 419px;
  width: 100%;
  padding-top: 1px;

  background: #fff;
  box-shadow: 1px 1px 100px 10px rgba(0,0,0,0.1);
}
.header__logo{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 126px;

  border-bottom: 1px solid #30a58c;
}
.header-menu{
  display: block;

  margin-left: 45px
}
.header-menu__list{
  display: block;

  margin-top: 22px;

  text-decoration: none;
  color: #7e7e7e;
  
}
.header-menu__list:hover{
  color: #1e1e1e;
}
.header__menuDown{
  top:0;

  width: 0;
  height: 0;

  border: 115px solid transparent;
  border-top: 38px solid #fff;
}
.header-banner__block-img{
  display: flex;

  max-width: 450px;
  margin: 0 auto 0;
}
.header-banner__img{
  display: block;

  width: 27%;
  margin: 0 auto;

}
.header-banner__text{
  display: flex;
  align-items: center;

  max-width: 670px;
  min-height: 90px;
  margin: 70px auto 0;

  text-align: center;


}
.header-banner__btn{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 190px;
  height: 48px;
  margin: 80px auto 0;

  border: 3px solid #fff;
  border-radius: 8px;
  font-size: 22px;
}

.slider{
  display: flex;
  align-items: center;

  width: 100%;
  margin: 0 auto 0;
}
.slider-container{
  width: 100%;

  overflow: hidden;
}
.slider-track{
  display: flex;

  min-height: 220px;

  transition: .3s;
}
.slider__item{
  max-height: 430px
}
.slider__markers{
  display: flex;

  width: 110px;
  height: 20px;
  margin: 15px auto;
  
}
.slider__marker{
  display: block;

  width: 15px;
  height: 15px;
  margin: auto;

  border-radius: 50%;
  background: #fff;
}
.slider__btn{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 90px;
  margin: 0 10px;

}
.slider-btn__line{
  display: block;
  position: absolute;

  width: 40px;
  height: 7px;

  border-radius: 5px;
  background: #fff;
}
.slider__btn:hover 
.slider-btn__line{
  background: #008170;
}

.slider-btn__line_top-left{
  margin-top: -30px;

  transform: rotate(-65deg);
  
  }
.slider-btn__line_bottom-left{
  margin-top: 30px;

  transform: rotate(65deg);
}
.slider-btn__line_top-right{
  margin-top: -30px;

  transform: rotate(65deg);
}
.slider-btn__line_bottom-right{
  margin-top: 30px;

  transform: rotate(-65deg);
}

.logos{
  display: block;

  width: 100%;
  max-height: 122px;

  background: #f4f4f4;
}
.logos__img{
  display: block;

  max-width: 22%;
  margin:10px auto;
}

.textBlock{
  display: block;

  width: 100%;
  min-height: 375px;

  background: #fff;
}
.textBlock__title{
  max-width: 650px;
  margin: 60px auto 40px;
}
.textBlock__text{
  max-width: 880px;
  margin: 0 auto;
}
.textBlock__thanks{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 166px;
  height: 45px;
  margin: 56px auto 20px;

  border-radius: 4px;
  background: #1dc896;
  font-size: 23px;
  font-weight: 300;

}

.updates{
  display: block;

  min-height: 300px;
  width: 100%;

  background: #1dc896
}
.updates__article{
  display: block;

  max-width: 400px;
  margin: 10px auto 0;
  padding: 0 10px;
}
.updates__title{
  text-align: left;
  line-height: 30px;
}
.updates__text{
  margin-top: 20px;

  color: #fff;
  text-align: left;
}

.contact{
  display: block;
  position: relative;

  height: 502px;
  width: 100%;

  background-size: cover;
  background-image: url(img/contact/map.png);
}
.contact__container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px, auto));
  grid-gap: 24px;

  height: 100%;
}
.contact__address{
  display: block;

  max-width: 302px;
  width: 93%;
  height: 175px;
  padding-top: 0.1px;
  margin: 238px 65px 0;
  
  background: #fff;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  border-radius: 4px;
  
  
}
.contact__title{
  margin: 10px 25px 5px;

  text-align: left;
}
.contact__text{
  margin: 0 25px;

  line-height: 25px;
  text-align: left;
}
.contact__contact-form{
  display: block;
  position: relative;
  bottom: 0;

  width: 424px;
  height: 420px;  
  margin-top: 70px;

  border-radius: 7px 7px 0 0;
  border-top: 9px solid #38e2b0;
  background: #fff;
  box-shadow: 0 0px 3px 1px rgba(0,0,0,0.2);
}
.contact-form__input{
  display: block;

  width: 90%;
  max-width: 338px;
  height: 30px;
  margin: 15px auto;
  padding-left: 17px;

  border: 2px solid #d8d8d8;
  font-size: 14px;
  border-radius: 1px;
  outline: none;
}
.contact-form__input::placeholder{
  color: #999
}
.contact-form__message{
  display: block;

  width: 90%;
  max-width: 338px;
  height: 69px;
  margin: 15px auto;
  padding: 13px 0 0 17px;

  border: 2px solid #d8d8d8;
  outline: none;
  resize: none;
  font-size: 14px;
}
.contact-form__message::placeholder{
  color: #999
}
.contact-form__submit{
  display: block;

  width: 126px;
  height: 35px;
  margin: 10px 35px 0 auto;

  border: 0;
  background: #1dc896;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  border-radius: 3px;
  
  
}

@media screen and (max-width: 850px){
.header__hidden-menu-icon{
  display: block;
  position: relative;

  width: 70px;
  height: 60px;
  margin: 5px 5px 5px auto;
  padding-top: 0.1px;
  z-index: 10
}
.hidden-menu-icon__line{
  display: block;
  position: relative;

  width: 68px;
  height: 8px;
  margin: 10px auto;

  background: #fff;
  border-radius: 2px;
  transition: .3s
}
.header__menu-block{
  width: 160px;
  margin-left: 0
}
.header__menuDown{
  width: 0;
  height: 0;

  border: 80px solid transparent;
  border-top: 38px solid #fff;
}
.text__title{
  font-size: 26px;
}
.header__container{
  display: block;
}
.header-banner__text{
  margin: 30px auto;
  font-size: 20px
}
.header-banner__btn{
  width: 140px;
  height: 46px;
  margin-top: 30px;

  font-size: 18px
}
.header__menu-block{
  position: absolute;
  top:-700px;
}
.updates__container{
  display: block;
}
.updates__article{
  padding:40px 10px;
}


.contact__contact-form{
  position: relative;
  top:0;
  left: 0;

  width: 100%;
  max-width: 424px;
  margin-top: 120px;
  margin-left: auto;
}
.contact-form__submit{
  margin: 10px auto;
}
.contact{ 
  height: 900px;

  background-position: bottom center; 
  background-size: initial;
}
.contact__container{
  grid-template-columns: auto;
}
.contact__address{
  position: relative;
  top:0;
  left: 0;

  height: 200px;
  margin: 30px 0 30px 15px;
  
}
}